name: Tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    services:
      # Label used to access the service container
      redis:
        image: redis:7.0-alpine
        ports:
          - 6389:6379
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: ^7.1.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test
